body {
    background-color: #FFFAE7;
    font-family: 'Roboto', sans-serif;
    margin-left: 0%;
    margin-right: 0%;

}

a {
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #3890CE;


}

li {
    line-height: 200%;
}

.index-heading {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 500%;
    color: #3890CE;
}

h1 {
    color: #3890CE;
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    color: #3890CE;
    text-decoration: underline;

}

.chef {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    width: 10em;
}

.index-recipes {
    display: inline-block;
    text-align: center;
    color: #3890CE;
    margin-left: 5%;
    margin-right: 5%;
}

.index-image {
    height: 25em;
    width: 25em;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    border-color: #CCDCE5;
    border-width: 10px;
}


.index-division {
    text-align: center;
}

.recipes-intro {
    text-align: center;
    color: #3890CE;
    margin-bottom: 40px;

}

.img-intro {
    border-style: solid;
    border-color: #CCDCE5;
    border-width: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.recipes-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFAE7;
    
}

.recipes-ingrediants {
    background-color: #CCDCE5;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;

}

.recipes-steps {
    background-color: #CCDCE5;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
}